/* Gunakan styling yang sama dengan index.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px 0;
    z-index: 1000;
}

header.scrolled {
    background-color: #1D4ED8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo a {
    color: #1D4ED8;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 30px;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #3B82F6;
}

.main-content {
    padding: 80px 20px;
    background-color: #fff;
    text-align: center;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 36px;
    color: #1D4ED8;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #1D4ED8;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: #1D4ED8; /* Warna biru untuk tema */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    font-size: 14px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    color: white;
    margin: 5px 0;
    font-size: 16px;
}

footer a {
    color: #AFCBFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff;
}

.dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown .dropbtn {
    background-color: transparent;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #1D4ED8;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.login-btn {
    display: inline-block;
    background-color: #1D4ED8; /* Biru terang */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #ffffff; /* Biru lebih gelap saat hover */
}

/* CSS untuk tombol logout */
.logout-btn {
    display: inline-block;
    background-color: #EF4444; /* Merah */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #DC2626; /* Merah lebih gelap saat hover */
}

/* Pop-up CSS */
.popup {
    display: none; /* Sembunyikan pop-up secara default */
    position: fixed;
    z-index: 1; /* Pastikan pop-up berada di atas konten lainnya */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang transparan */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.popup .close-btn {
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}

.popup .close-btn:hover,
.popup .close-btn:focus {
    color: black;
    text-decoration: none;
}

.popup p {
    font-size: 14px;
    margin: 10px 0;
}
